.post {
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgrey;
  margin-bottom: 45px;
  border-radius: 11px;
}

.post__header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

.post__text {
  font-weight: normal;
  padding: 6px;
}